html {
  height: 100%;
}
body {
  background-color: #000;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "PingFangSC-Semibold";
}
.box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}
nav div.left {
  float: left;
}
nav div.left a {
  display: inline-block;
  width: 34.5px;
  height: 35px;
  margin: 11px 0 0 11px;
}
nav div.left a img {
  width: 100%;
}
nav div.center {
  line-height: 46px;
  text-align: center;
}
nav div.center span {
  display: inline-block;
  transform: translateX(-50%);
}
section.logo {
  width: 100%;
}
section.logo div {
  width: 33%;
  margin: 80px auto;
  text-align: center;
}
section.logo div a {
  display: block;
}
section.logo div a img {
  width: 100%;
  height: 100%;
}
#logintest {
  width: 100%;
}
#logintest form {
  margin: 0 7.4%;
}
#logintest form input {
  border: none;
  width: 50%;
  font-family: "PingFangSC-Semibold";
  line-height: 2;
}
#logintest form div {
  border-bottom: 1px solid #B8B8B8;
  padding: 20px 0;
  height: 3.6%;
}
#logintest form div label {
  margin-right: 3.6%;
  color: #191919;
  font-weight: 700;
  letter-spacing: 0;
  width: 13.9%;
}
#logintest form div span {
  color: #f74444;
  float: right;
}
#logintest form div.passbutton {
  margin: 9.6% auto;
  background: #ffffff url('../images/button.png');
  text-align: center;
  border-radius: 8px;
  padding: 0;
}
#logintest form div.passbutton input {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 2em;
  line-height: 75px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}
#logintest > div {
  margin: 30px  auto 0;
  text-align: center;
}
#logintest > div a {
  text-decoration: none;
  color: #f74444;
}
.disable {
  opacity: 0.5;
  background-color: #f74444;
}
.error {
  position: relative;
}
.error:before {
  content: " ";
  width: 25%;
  height: 100%;
  background: url("../images/false.png") no-repeat;
  background-size: 75%;
  position: absolute;
  left: -20%;
  top: 15%;
}
.success {
  color: #999!important;
}
